
.comments {
    padding-bottom: 20px;
    h2 {
        margin-bottom: 20px;
    }

    hr {
        max-width: 940px;
        height: 1px;
        border-bottom: none;
        background-color: #f6f6f6;
    }

    &-item {
        margin: 50px 0;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__img {
            display: block;
            max-height: 169px;
            width: 169px;
            margin-right: 25px;
        }
        &__wrapper {
            max-width: 660px;
            margin-right: 40px;
        }
        &__title {
            font-size: 18px;
            font-weight: 700;
        }
        &__subtitle {
            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
        &__descr {
            width: 100%;
            margin-top: 14px;
            line-height: 20px;
            font-size: 16px;
            font-weight: 300;
        }
    }

}