.consultation {
    min-height: 400px;
    padding: 40px 10px 58px;
    background-color: $bg-color;
    &__title {
        text-align: center;
        color: $third-color;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 40px;
    }
}