.m-0-a {
    margin: 0 auto;
}
.mt-15 {
    margin-top: 15px;
}
.full-width {
    display: block;
    width: 100%;
}
.disp-block {
    display: block;
    align-items: center;
    text-align: center;
}
.mt-50 {
    margin-top: 50px;
}

.visible {
    display: block;
}
.hidden {
    display: none;
}